node_modules/
**/node_modules/

.env.local
**/.env.local

.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
ios/**/build/

frontend/frontend/build/
frontend/frontend/build_release_*.tar.gz
backend/backend/target/

/copyright_deposit/
/package.json
/package-lock.json
/tools/
